<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/worksheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Feladatlap</title>
</head>
<body>
<h1>Feladatlap</h1>
<h2>1. feladat</h2>
<div id="task-1">
    <form id="task-form-1" class="task-form">
        <div class="flex">
            <span>1 + <input type="text" id="answer-form-1"/> = 5 </span>
            <button id="button-form-1"  type="submit">Lead</button>
            <div id="correct-form-1">:-)</div>
            <div id="incorrect-form-1">:-(</div>
        </div>
        <input type="hidden" id="leftSide-form-1" name="leftSide-form-1" value="1+x"/>
        <input  type="hidden" id="rightSide-form-1" name="rightSide-form-1" value="5" />
    </form>
</div>
<div id="task-2">
    <form id="task-form-2" class="task-form">
        <div class="flex">
            <span>2 + <input type="text" id="answer-form-2"/> = 5 </span>
            <button id="button-form-2"  type="submit">Lead</button>
            <div id="correct-form-2">:-)</div>
            <div id="incorrect-form-2">:-(</div>
        </div>
        <input type="hidden" id="leftSide-form-2" name="leftSide-form-2" value="2+x"/>
        <input  type="hidden" id="rightSide-form-2" name="rightSide-form-2" value="5" />
    </form>
</div>
<div id="task-3">
    <form id="task-form-3" class="task-form">
        <div class="flex">
            <span>3 + <input type="text" id="answer-form-3"/> = 5 </span>
            <button id="button-form-3"  type="submit">Lead</button>
            <div id="correct-form-3">:-)</div>
            <div id="incorrect-form-3">:-(</div>
        </div>
        <input type="hidden" id="leftSide-form-3" name="leftSide-form-3" value="3+x"/>
        <input  type="hidden" id="rightSide-form-3" name="rightSide-form-3" value="5" />
    </form>
</div>
<div id="feedback"></div>
<script type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="js/worksheet.js"></script>
</body>
</html>